// icon警告颜色
$warnColor: #de5454;
// icon正确颜色
$successColor: #1dc15f;
// 盒子边框颜色
$borderColor: #dfdfdf;
// 背景色样式
$login-bgc: #2d3a4b;
// 字体
$Myriad-Semibold: Myriad Pro Semibold, Myriad Pro Semibold-Semibold;
$Myriad-Regular: Myriad Pro Regular, Myriad Pro Regular-Regular;
$Segoe-Regular: Segoe UI Regular, Segoe UI Regular-Regular;
$Segoe-Bold: Segoe UI Bold, Segoe UI Bold-Bold;
$Proxima-Bold: Proxima Nova Bold, Proxima Nova Bold-Bold;
