@font-face {
  font-family: 'Angola-ico';
  src:  url('../icons/Angola-ico.eot?ty0r3z');
  src:  url('../icons/Angola-ico.eot?ty0r3z#iefix') format('embedded-opentype'),
    url('../icons/Angola-ico.ttf?ty0r3z') format('truetype'),
    url('../icons/Angola-ico.woff?ty0r3z') format('woff'),
    url('../icons/Angola-ico.svg?ty0r3z#Angola-ico') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  // font-family: 'Angola-ico' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Angola-ico' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Patrol-control-plan-management:before {
  content: "\eb1a";
}
.icon-Peripheral-resource-inquiry:before {
  content: "\eb1b";
}
.icon-Peripheral-resource-inquiry1:before {
  content: "\eb1c";
}
.icon-Police-situation-overview:before {
  content: "\eb1d";
}
.icon-Ignorar:before {
  content: "\eb17";
}
.icon-recording:before {
  content: "\eb18";
}
.icon-SMS25:before {
  content: "\eb19";
}
.icon-Evaluation24:before {
  content: "\eb14";
}
.icon-copy:before {
  content: "\eb13";
}
.icon-Release-24:before {
  content: "\eb15";
}
.icon-remind:before {
  content: "\eb16";
}
.icon-Chart-switching:before {
  content: "\eb12";
}
.icon-Clear-23:before {
  content: "\eb0b";
}
.icon-Event-point:before {
  content: "\eb0c";
}
.icon-exchange:before {
  content: "\eb0d";
}
.icon-Police-station:before {
  content: "\eb0e";
}
.icon-Shortest-distance:before {
  content: "\eb0f";
}
.icon-shortest-time:before {
  content: "\eb10";
}
.icon-All-facilities:before {
  content: "\eb11";
}
.icon-Ascending:before {
  content: "\eb09";
}
.icon-Descending-order:before {
  content: "\eb0a";
}
.icon-Information-reception:before {
  content: "\eb07";
}
.icon-Sending-information:before {
  content: "\eb08";
}
.icon-file:before {
  content: "\eb04";
}
.icon-folder:before {
  content: "\eb05";
}
.icon-new-folder:before {
  content: "\eb06";
}
.icon-Clear-screen-section:before {
  content: "\eb02";
}
.icon-Clear-screen-section1:before {
  content: "\eb03";
}
.icon-Add-task-4:before {
  content: "\eaf1";
}
.icon-Alarm-information:before {
  content: "\eaf2";
}
.icon-Associated-tasks:before {
  content: "\eaf3";
}
.icon-Buffer-analysis:before {
  content: "\eaf4";
}
.icon-Confirm-receipt:before {
  content: "\eaf5";
}
.icon-Crowd-gathering:before {
  content: "\eaf6";
}
.icon-Device-Information:before {
  content: "\eaf7";
}
.icon-Dispatching-task:before {
  content: "\eaf8";
}
.icon-error-report:before {
  content: "\eaf9";
}
.icon-Face-Detection:before {
  content: "\eafb";
}
.icon-Historical-video-4:before {
  content: "\eafc";
}
.icon-Personnel:before {
  content: "\eafd";
}
.icon-receive:before {
  content: "\eafe";
}
.icon-Resource-query:before {
  content: "\eaff";
}
.icon-See-4:before {
  content: "\eb00";
}
.icon-Vehicle-inspection:before {
  content: "\eb01";
}
.icon-Elderly-Center:before {
  content: "\eaec";
}
.icon-Homes-for-the-elderly:before {
  content: "\eaed";
}
.icon-Parking:before {
  content: "\eaee";
}
.icon-Water-level-station:before {
  content: "\eaef";
}
.icon-Weather-station:before {
  content: "\eaf0";
}
.icon-Share-video:before {
  content: "\eae9";
}
.icon-Alert-analysis:before {
  content: "\eae3";
}
.icon-Dual-mode-handpiece:before {
  content: "\eae4";
}
.icon-Evacuation:before {
  content: "\eae5";
}
.icon-Onboardpad:before {
  content: "\eae6";
}
.icon-Previous-step-4:before {
  content: "\eae7";
}
.icon-Release-4:before {
  content: "\eae8";
}
.icon-Single-hand-platform:before {
  content: "\eaea";
}
.icon-The-next-step:before {
  content: "\eaeb";
}
.icon-SMS:before {
  content: "\eae1";
}
.icon-SMS1:before {
  content: "\eae2";
}
.icon-data-visualization:before {
  content: "\eae0";
}
.icon-Bus:before {
  content: "\ead7";
}
.icon-Customs:before {
  content: "\ead8";
}
.icon-fire-hydrant:before {
  content: "\ead9";
}
.icon-Guesthouse:before {
  content: "\eada";
}
.icon-Health-Center:before {
  content: "\eadb";
}
.icon-hospital:before {
  content: "\eadc";
}
.icon-Hotel:before {
  content: "\eadd";
}
.icon-School:before {
  content: "\eade";
}
.icon-Security-Fire-Station:before {
  content: "\eadf";
}
.icon-carried-out49:before {
  content: "\eaca";
}
.icon-Resource-application49:before {
  content: "\ead5";
}
.icon-Resource-application491:before {
  content: "\ead6";
}
.icon-Analysis-and-judgment:before {
  content: "\eac9";
}
.icon-Event-report4:before {
  content: "\eacf";
}
.icon-Incident-investigation-report4:before {
  content: "\ead0";
}
.icon-Assigning-Roles:before {
  content: "\eacb";
}
.icon-carried-out:before {
  content: "\eacc";
}
.icon-Disposal:before {
  content: "\eacd";
}
.icon-Disposaling:before {
  content: "\eace";
}
.icon-instruction:before {
  content: "\ead1";
}
.icon-Re-disposal:before {
  content: "\ead2";
}
.icon-Resource-task:before {
  content: "\ead3";
}
.icon-Set-keywords:before {
  content: "\ead4";
}
.icon-Receive-information:before {
  content: "\eac7";
}
.icon-Uninstall:before {
  content: "\eac8";
}
.icon-Call-in:before {
  content: "\eac5";
}
.icon-Exhale:before {
  content: "\eac6";
}
.icon-backward11:before {
  content: "\eabd";
}
.icon-Double-work:before {
  content: "\eabe";
}
.icon-forward11:before {
  content: "\eabf";
}
.icon-Partial-work:before {
  content: "\eac0";
}
.icon-pause11:before {
  content: "\eac1";
}
.icon-play11:before {
  content: "\eac2";
}
.icon-stop11:before {
  content: "\eac3";
}
.icon-Up-and-down:before {
  content: "\eac4";
}
.icon-Has-been-reported:before {
  content: "\eab4";
}
.icon-Lower-report-preparation:before {
  content: "\eab5";
}
.icon-Report-preparation:before {
  content: "\eab6";
}
.icon-Analyzing:before {
  content: "\eab7";
}
.icon-completed:before {
  content: "\eab8";
}
.icon-has-not-started:before {
  content: "\eab9";
}
.icon-Pending:before {
  content: "\eaba";
}
.icon-Terminated:before {
  content: "\eabb";
}
.icon-To-be-received:before {
  content: "\eabc";
}
.icon-Alert-release:before {
  content: "\eab1";
}
.icon-Associated-events:before {
  content: "\eab2";
}
.icon-Damage-routine-information:before {
  content: "\eab3";
}
.icon-Application-parameter-push:before {
  content: "\eaa0";
}
.icon-Extended:before {
  content: "\eaa1";
}
.icon-Preview:before {
  content: "\eaa2";
}
.icon-Push-big-screen:before {
  content: "\eaa3";
}
.icon-reduction:before {
  content: "\eaa4";
}
.icon-Set-as-background:before {
  content: "\eaa5";
}
.icon-Stop-refresh:before {
  content: "\eaa6";
}
.icon-turn-on:before {
  content: "\eaa7";
}
.icon-Action-Group:before {
  content: "\eaa8";
}
.icon-Add-feedback:before {
  content: "\eaa9";
}
.icon-Center-Group:before {
  content: "\eaaa";
}
.icon-Coordination-group:before {
  content: "\eaab";
}
.icon-load:before {
  content: "\eaac";
}
.icon-Play-document:before {
  content: "\eaad";
}
.icon-Play-picture:before {
  content: "\eaae";
}
.icon-Play-ppt:before {
  content: "\eaaf";
}
.icon-Play-video:before {
  content: "\eab0";
}
.icon-Free-graphics:before {
  content: "\ea9b";
}
.icon-Polygonal:before {
  content: "\ea9c";
}
.icon-rectangle:before {
  content: "\ea9d";
}
.icon-round:before {
  content: "\ea9e";
}
.icon-sector:before {
  content: "\ea9f";
}
.icon-zonghehuishang:before {
  content: "\ea99";
}
.icon-Full-screen-returns1:before {
  content: "\ea91";
}
.icon-Full-screen-returns2:before {
  content: "\ea95";
}
.icon-Server-connection:before {
  content: "\ea96";
}
.icon-Server-disconnected:before {
  content: "\ea97";
}
.icon-server:before {
  content: "\ea98";
}
.icon-Vehicle-positioning:before {
  content: "\ea9a";
}
.icon-Group-call:before {
  content: "\eafa";
}
.icon-Laws-and-regulations:before {
  content: "\ea92";
}
.icon-Penalties-Ordinance:before {
  content: "\ea93";
}
.icon-Police-center-side:before {
  content: "\ea94";
}
.icon-Call-back:before {
  content: "\ea85";
}
.icon-chart:before {
  content: "\ea86";
}
.icon-Check-EPIA:before {
  content: "\ea87";
}
.icon-Display-video-points-around:before {
  content: "\ea88";
}
.icon-Duty-information:before {
  content: "\ea89";
}
.icon-Handover:before {
  content: "\ea8a";
}
.icon-Import-Fast-Dials:before {
  content: "\ea8b";
}
.icon-Import-from-file:before {
  content: "\ea8c";
}
.icon-Mass:before {
  content: "\ea8d";
}
.icon-New-features:before {
  content: "\ea8e";
}
.icon-Resources-have-been-assigned:before {
  content: "\ea8f";
}
.icon-update-list:before {
  content: "\ea90";
}
.icon-Switch-card:before {
  content: "\ea83";
}
.icon-Switch-the-list:before {
  content: "\ea84";
}
.icon-Bound-domain-user:before {
  content: "\ea76";
}
.icon-Columnar:before {
  content: "\ea77";
}
.icon-Display-GIS-statistics:before {
  content: "\ea78";
}
.icon-Equipment-operation:before {
  content: "\ea79";
}
.icon-Load-agent-distribution:before {
  content: "\ea7a";
}
.icon-Nearly-3-months .path1:before {
  content: "\ea7b";
  color: rgb(4, 0, 0);
}
.icon-Nearly-3-months .path2:before {
  content: "\ea7c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-Report-event-information:before {
  content: "\ea7d";
}
.icon-Resource-positioning:before {
  content: "\ea7e";
}
.icon-Same-day:before {
  content: "\ea7f";
}
.icon-Statistics-time-period-data:before {
  content: "\ea80";
}
.icon-Switch:before {
  content: "\ea81";
}
.icon-this-month:before {
  content: "\ea82";
}
.icon-Reportedok:before {
  content: "\ea6f";
}
.icon-To-return:before {
  content: "\ea75";
}
.icon-Simple-scheduling:before {
  content: "\ea74";
}
.icon-Audit:before {
  content: "\ea5a";
}
.icon-Checkmark:before {
  content: "\ea63";
}
.icon-Checkmark1:before {
  content: "\ea64";
}
.icon-demand-information:before {
  content: "\ea65";
}
.icon-Disaster-loss-information:before {
  content: "\ea66";
}
.icon-End-consultation:before {
  content: "\ea67";
}
.icon-Event-information:before {
  content: "\ea68";
}
.icon-Feedback-list:before {
  content: "\ea69";
}
.icon-Invite-members:before {
  content: "\ea6a";
}
.icon-Maintain-site-status:before {
  content: "\ea6b";
}
.icon-message-notification:before {
  content: "\ea6c";
}
.icon-multimedia:before {
  content: "\ea6d";
}
.icon-multimedia1:before {
  content: "\ea6e";
}
.icon-Routine-report:before {
  content: "\ea70";
}
.icon-Submit-review:before {
  content: "\ea71";
}
.icon-Submit-review1:before {
  content: "\ea72";
}
.icon-View-job-details:before {
  content: "\ea73";
}
.icon-Operation-log:before {
  content: "\ea59";
}
.icon-Equipment-inquiry:before {
  content: "\ea46";
}
.icon-Image-tools:before {
  content: "\ea47";
}
.icon-Personnel-blacklist-management:before {
  content: "\ea5b";
}
.icon-Set-rules:before {
  content: "\ea5c";
}
.icon-System-log:before {
  content: "\ea60";
}
.icon-Vehicle-blacklist-management:before {
  content: "\ea61";
}
.icon-Warning-rules-set:before {
  content: "\ea62";
}
.icon-Resource-distribution:before {
  content: "\ea2a";
}
.icon-Data-preprocessing:before {
  content: "\ea06";
}
.icon-Select-a-document:before {
  content: "\ea43";
}
.icon-Start-screening:before {
  content: "\ea44";
}
.icon-Trajectory:before {
  content: "\ea45";
}
.icon-Analysis-of-the-trial-results:before {
  content: "\ea01";
}
.icon-left24:before {
  content: "\ea02";
}
.icon-Locate-the-route:before {
  content: "\ea03";
}
.icon-right24:before {
  content: "\ea04";
}
.icon-Set-the-display-column:before {
  content: "\ea05";
}
.icon-send-attachments:before {
  content: "\e9f5";
}
.icon-Append:before {
  content: "\e9b8";
}
.icon-Historical-video:before {
  content: "\e9b9";
}
.icon-Reset:before {
  content: "\e9e2";
}
.icon-return115:before {
  content: "\e9e5";
}
.icon-return215:before {
  content: "\e9e6";
}
.icon-send-pictures:before {
  content: "\e9e7";
}
.icon-xianchangzhihui:before {
  content: "\e9e8";
}
.icon-announcement:before {
  content: "\e97b";
}
.icon-Associate23:before {
  content: "\e97c";
}
.icon-Associated-system:before {
  content: "\e99e";
}
.icon-Batch-Import:before {
  content: "\e99f";
}
.icon-change-Password:before {
  content: "\e9a0";
}
.icon-Edit-22:before {
  content: "\e9a1";
}
.icon-Female:before {
  content: "\e9a2";
}
.icon-Group-management:before {
  content: "\e9a8";
}
.icon-Hand-configuration:before {
  content: "\e9a9";
}
.icon-Instruction-management:before {
  content: "\e9aa";
}
.icon-Log-out:before {
  content: "\e9ab";
}
.icon-male:before {
  content: "\e9ac";
}
.icon-Reply:before {
  content: "\e9ad";
}
.icon-Shift-management:before {
  content: "\e9b3";
}
.icon-Shift-schedule:before {
  content: "\e9b4";
}
.icon-Skin-change:before {
  content: "\e9b5";
}
.icon-administrative-division1:before {
  content: "\e9b6";
}
.icon-Append-to-the-thread:before {
  content: "\e9b7";
}
.icon-close11:before {
  content: "\e9e3";
}
.icon-details3:before {
  content: "\e9e4";
}
.icon-New-task:before {
  content: "\e9f0";
}
.icon-Police-situation-statistics:before {
  content: "\e9f1";
}
.icon-Save23:before {
  content: "\e9f2";
}
.icon-Consultation-content:before {
  content: "\ea52";
}
.icon-Consultation-manager:before {
  content: "\ea53";
}
.icon-Create-meeting:before {
  content: "\ea54";
}
.icon-Meeting-minutes:before {
  content: "\ea55";
}
.icon-Participate-in-business-negotiations:before {
  content: "\ea56";
}
.icon-Plot-information:before {
  content: "\ea57";
}
.icon-Related-events:before {
  content: "\ea58";
}
.icon-Start:before {
  content: "\ea5d";
}
.icon-Switch-the-administrator:before {
  content: "\ea5e";
}
.icon-Video-sharing:before {
  content: "\ea5f";
}
.icon-Event-archiving:before {
  content: "\e9eb";
}
.icon-Exit-system:before {
  content: "\e9ec";
}
.icon-Incident-reported:before {
  content: "\ea3f";
}
.icon-Summary-task:before {
  content: "\ea40";
}
.icon-task:before {
  content: "\ea41";
}
.icon-The-end-of-the-incident:before {
  content: "\ea42";
}
.icon-Clues-to-add:before {
  content: "\ea48";
}
.icon-Push-clues:before {
  content: "\ea49";
}
.icon-Push:before {
  content: "\ea4a";
}
.icon-Emergency-shelter:before {
  content: "\ea4b";
}
.icon-Export-pictures:before {
  content: "\ea4c";
}
.icon-Export-the-report:before {
  content: "\ea4d";
}
.icon-Medical-institutions:before {
  content: "\ea4e";
}
.icon-Protection-goal:before {
  content: "\ea4f";
}
.icon-Source-of-risk:before {
  content: "\ea50";
}
.icon-View-the-type:before {
  content: "\ea51";
}
.icon-Update-progress:before {
  content: "\ea3d";
}
.icon-Updated:before {
  content: "\ea3e";
}
.icon-Abort:before {
  content: "\e97f";
}
.icon-annotation:before {
  content: "\ea14";
}
.icon-Arrived-Not-reached:before {
  content: "\ea15";
}
.icon-Associated-incident:before {
  content: "\ea16";
}
.icon-Associated:before {
  content: "\ea17";
}
.icon-attention:before {
  content: "\ea18";
}
.icon-batch-deletion:before {
  content: "\ea19";
}
.icon-carry-out:before {
  content: "\ea1a";
}
.icon-Confirm-arrival:before {
  content: "\ea1b";
}
.icon-Contact-the-police-information:before {
  content: "\ea1c";
}
.icon-Derived-from-the-original:before {
  content: "\ea1d";
}
.icon-Dual-mode-hand-information:before {
  content: "\ea1e";
}
.icon-Emergency-car-information:before {
  content: "\ea1f";
}
.icon-Emergency-Center-Information:before {
  content: "\ea20";
}
.icon-Evaluation2:before {
  content: "\ea21";
}
.icon-Generate-events:before {
  content: "\ea22";
}
.icon-happened:before {
  content: "\ea23";
}
.icon-Incident-reported2:before {
  content: "\ea24";
}
.icon-Issued:before {
  content: "\ea25";
}
.icon-Leadership-criticism:before {
  content: "\ea2b";
}
.icon-New1:before {
  content: "\ea2c";
}
.icon-Notify-the-leadership:before {
  content: "\ea2d";
}
.icon-Pending2:before {
  content: "\ea2e";
}
.icon-Personnel-list:before {
  content: "\ea2f";
}
.icon-Personnel-list1:before {
  content: "\ea30";
}
.icon-Processed:before {
  content: "\ea31";
}
.icon-release:before {
  content: "\ea32";
}
.icon-release1:before {
  content: "\ea33";
}
.icon-Reported2:before {
  content: "\ea34";
}
.icon-Reported1:before {
  content: "\ea35";
}
.icon-return1:before {
  content: "\ea36";
}
.icon-Save-and-send:before {
  content: "\ea37";
}
.icon-task-list:before {
  content: "\ea38";
}
.icon-task-management:before {
  content: "\ea39";
}
.icon-Unlink:before {
  content: "\ea3a";
}
.icon-Unlink1:before {
  content: "\ea3b";
}
.icon-Yet-to-happen:before {
  content: "\ea3c";
}
.icon-gaojigongneng:before {
  content: "\e9f3";
}
.icon-gaojigongneng1:before {
  content: "\e9f4";
}
.icon-zhoubianfenxi:before {
  content: "\ea13";
}
.icon-bilichixianshi:before {
  content: "\e96f";
}
.icon-dimingchaxun:before {
  content: "\e970";
}
.icon-All-the-lines-and-surfaces:before {
  content: "\e9f6";
}
.icon-Analysis-29:before {
  content: "\e9f7";
}
.icon-Buffer-analysis2:before {
  content: "\e9f8";
}
.icon-Cancel-29:before {
  content: "\e9f9";
}
.icon-Cancel-the-choice:before {
  content: "\e9fa";
}
.icon-City-switching:before {
  content: "\e9fb";
}
.icon-Coordinate-point-query:before {
  content: "\e9fc";
}
.icon-Device-list:before {
  content: "\e9fd";
}
.icon-down:before {
  content: "\e9fe";
}
.icon-enlarge:before {
  content: "\e9ff";
}
.icon-Facilities-service-scope:before {
  content: "\ea00";
}
.icon-Layer:before {
  content: "\ea07";
}
.icon-Layer1:before {
  content: "\ea08";
}
.icon-Left:before {
  content: "\ea09";
}
.icon-Location-space:before {
  content: "\ea0a";
}
.icon-Map-switch:before {
  content: "\ea0b";
}
.icon-mapx:before {
  content: "\ea0c";
}
.icon-narrow:before {
  content: "\ea0d";
}
.icon-Obstacle-line:before {
  content: "\ea0e";
}
.icon-Obstacle-surface:before {
  content: "\ea0f";
}
.icon-Optimal-path-analysis:before {
  content: "\ea10";
}
.icon-Recent-facility-analysis:before {
  content: "\ea11";
}
.icon-right:before {
  content: "\ea12";
}
.icon-Stops:before {
  content: "\ea26";
}
.icon-Thematic-mapping:before {
  content: "\ea27";
}
.icon-Thematic-mapping1:before {
  content: "\ea28";
}
.icon-upper:before {
  content: "\ea29";
}
.icon-Associated-task:before {
  content: "\e9dd";
}
.icon-equipment:before {
  content: "\e9de";
}
.icon-Event-Report:before {
  content: "\e9df";
}
.icon-Event-Survey-Report:before {
  content: "\e9e0";
}
.icon-material:before {
  content: "\e9e1";
}
.icon-Phase-plan:before {
  content: "\e9e9";
}
.icon-place:before {
  content: "\e9ea";
}
.icon-vehicle:before {
  content: "\e9ed";
}
.icon-Video-playback-1:before {
  content: "\e9ee";
}
.icon-Video-playback-2:before {
  content: "\e9ef";
}
.icon-cancel1:before {
  content: "\e9c9";
}
.icon-cancel2:before {
  content: "\e9ca";
}
.icon-Event-level:before {
  content: "\e9cb";
}
.icon-Event-survey:before {
  content: "\e9cc";
}
.icon-Event-survey1:before {
  content: "\e9cd";
}
.icon-Event-survey2:before {
  content: "\e9ce";
}
.icon-Event-survey3:before {
  content: "\e9cf";
}
.icon-View-the-merge:before {
  content: "\e9d0";
}
.icon-Coordinate-positioning:before {
  content: "\e9d1";
}
.icon-Ellipse-measurement:before {
  content: "\e9d2";
}
.icon-Emergency-team:before {
  content: "\e9d3";
}
.icon-expert:before {
  content: "\e9d4";
}
.icon-Factor-recognition:before {
  content: "\e9d5";
}
.icon-Measuring-circle:before {
  content: "\e9d6";
}
.icon-Measuring-rectangle:before {
  content: "\e9d7";
}
.icon-Other-people:before {
  content: "\e9d8";
}
.icon-personnel:before {
  content: "\e9d9";
}
.icon-Police-1:before {
  content: "\e9da";
}
.icon-Setting-up-a-point:before {
  content: "\e9db";
}
.icon-Treatment-measures:before {
  content: "\e9dc";
}
.icon-cloudy:before {
  content: "\e9be";
}
.icon-fog:before {
  content: "\e9bf";
}
.icon-knowledge-information:before {
  content: "\e9c0";
}
.icon-Laws-and-regulations2:before {
  content: "\e9c1";
}
.icon-Notice:before {
  content: "\e9c2";
}
.icon-propaganda-and-education:before {
  content: "\e9c3";
}
.icon-Security-alerts:before {
  content: "\e9c4";
}
.icon-social-risk:before {
  content: "\e9c5";
}
.icon-social-security:before {
  content: "\e9c6";
}
.icon-thunder:before {
  content: "\e9c7";
}
.icon-wind:before {
  content: "\e9c8";
}
.icon-administrative-division:before {
  content: "\e99d";
}
.icon-close22:before {
  content: "\e9a3";
}
.icon-Community-security:before {
  content: "\e9a4";
}
.icon-configuration-management:before {
  content: "\e9a5";
}
.icon-details1:before {
  content: "\e9a6";
}
.icon-details2:before {
  content: "\e9a7";
}
.icon-Dictionary-management:before {
  content: "\e9ae";
}
.icon-Early-warning-information:before {
  content: "\e9af";
}
.icon-Historical-police-situation-management:before {
  content: "\e9b0";
}
.icon-Historical-trend:before {
  content: "\e9b1";
}
.icon-Menu-management:before {
  content: "\e9b2";
}
.icon-Role-management:before {
  content: "\e9ba";
}
.icon-Seat-Management:before {
  content: "\e9bb";
}
.icon-Terminal-management:before {
  content: "\e9bc";
}
.icon-weather:before {
  content: "\e9bd";
}
.icon-Add-1:before {
  content: "\e993";
}
.icon-Coordinate-measurement:before {
  content: "\e994";
}
.icon-display:before {
  content: "\e995";
}
.icon-Eliminate:before {
  content: "\e996";
}
.icon-line:before {
  content: "\e997";
}
.icon-Manual:before {
  content: "\e998";
}
.icon-Map-full-map:before {
  content: "\e999";
}
.icon-Output-map:before {
  content: "\e99a";
}
.icon-Range:before {
  content: "\e99b";
}
.icon-Starting:before {
  content: "\e99c";
}
.icon-Contrast:before {
  content: "\e984";
}
.icon-daily-management:before {
  content: "\e985";
}
.icon-day:before {
  content: "\e986";
}
.icon-dispatch:before {
  content: "\e987";
}
.icon-feedback:before {
  content: "\e988";
}
.icon-information-management:before {
  content: "\e989";
}
.icon-Information-report:before {
  content: "\e98a";
}
.icon-month:before {
  content: "\e98b";
}
.icon-Police-situation:before {
  content: "\e98c";
}
.icon-Preservation:before {
  content: "\e98d";
}
.icon-Return:before {
  content: "\e98e";
}
.icon-See:before {
  content: "\e98f";
}
.icon-Submit:before {
  content: "\e990";
}
.icon-week:before {
  content: "\e991";
}
.icon-year:before {
  content: "\e992";
}
.icon-xianchangzhihui1:before {
  content: "\e982";
}
.icon-xianchangzhihui2:before {
  content: "\e983";
}
.icon-Back-down:before {
  content: "\e966";
}
.icon-Clear-the-screen:before {
  content: "\e967";
}
.icon-Close1:before {
  content: "\e968";
}
.icon-cloudy2:before {
  content: "\e969";
}
.icon-currency:before {
  content: "\e96a";
}
.icon-Full-screen:before {
  content: "\e96b";
}
.icon-Location1:before {
  content: "\e96c";
}
.icon-measure:before {
  content: "\e96d";
}
.icon-Monitoring:before {
  content: "\e96e";
}
.icon-Plotting:before {
  content: "\e971";
}
.icon-query:before {
  content: "\e972";
}
.icon-Recoup-up:before {
  content: "\e973";
}
.icon-Screenshot:before {
  content: "\e974";
}
.icon-search1:before {
  content: "\e975";
}
.icon-shrink:before {
  content: "\e976";
}
.icon-Situation-analysis:before {
  content: "\e977";
}
.icon-tool:before {
  content: "\e978";
}
.icon-Auxiliary-analysis:before {
  content: "\e979";
}
.icon-Case-control:before {
  content: "\e97a";
}
.icon-Intelligent-monitoring:before {
  content: "\e97d";
}
.icon-system-configuration:before {
  content: "\e97e";
}
.icon-Task-summary:before {
  content: "\e980";
}
.icon-Video-structuration:before {
  content: "\e981";
}
.icon-result:before {
  content: "\e964";
}
.icon-judge-history:before {
  content: "\e965";
}
.icon-send:before {
  content: "\e958";
}
.icon-onfile:before {
  content: "\e959";
}
.icon-link:before {
  content: "\e95a";
}
.icon-download:before {
  content: "\e95b";
}
.icon-upload:before {
  content: "\e95c";
}
.icon-limits:before {
  content: "\e95d";
}
.icon-limits02:before {
  content: "\e95e";
}
.icon-role:before {
  content: "\e95f";
}
.icon-userset:before {
  content: "\e960";
}
.icon-org:before {
  content: "\e961";
}
.icon-organization:before {
  content: "\e962";
}
.icon-department:before {
  content: "\e963";
}
.icon-ShowAllIncident:before {
  content: "\e955";
}
.icon-AddList:before {
  content: "\e941";
}
.icon-appealeval:before {
  content: "\e942";
}
.icon-Attachment:before {
  content: "\e943";
}
.icon-Backward:before {
  content: "\e944";
}
.icon-callphone:before {
  content: "\e945";
}
.icon-Disposal-information:before {
  content: "\e946";
}
.icon-Edit1:before {
  content: "\e947";
}
.icon-Export:before {
  content: "\e948";
}
.icon-Forward:before {
  content: "\e949";
}
.icon-goarrow:before {
  content: "\e94a";
}
.icon-groupGrid:before {
  content: "\e94b";
}
.icon-Import:before {
  content: "\e94c";
}
.icon-incidentprocess:before {
  content: "\e94d";
}
.icon-IndependentDispose:before {
  content: "\e94e";
}
.icon-info:before {
  content: "\e94f";
}
.icon-MergeAppeal:before {
  content: "\e950";
}
.icon-position:before {
  content: "\e951";
}
.icon-refreshGrid:before {
  content: "\e952";
}
.icon-searchFile:before {
  content: "\e953";
}
.icon-SelfDisposal:before {
  content: "\e954";
}
.icon-ShowDangerous:before {
  content: "\e956";
}
.icon-taskFlowLineMsg:before {
  content: "\e957";
}
.icon-resource1:before {
  content: "\e92a";
}
.icon-resource2:before {
  content: "\e92b";
}
.icon-resource:before {
  content: "\e92c";
}
.icon-case-even:before {
  content: "\e92d";
}
.icon-conference:before {
  content: "\e92e";
}
.icon-disastert:before {
  content: "\e92f";
}
.icon-emergency:before {
  content: "\e930";
}
.icon-logmanagement:before {
  content: "\e931";
}
.icon-management:before {
  content: "\e932";
}
.icon-police:before {
  content: "\e933";
}
.icon-privilege:before {
  content: "\e934";
}
.icon-privileg1:before {
  content: "\e935";
}
.icon-release2:before {
  content: "\e936";
}
.icon-aggregation:before {
  content: "\e937";
}
.icon-aggregation1:before {
  content: "\e938";
}
.icon-aggregation2:before {
  content: "\e939";
}
.icon-statistics:before {
  content: "\e93a";
}
.icon-statistics1:before {
  content: "\e93b";
}
.icon-system:before {
  content: "\e93c";
}
.icon-system1:before {
  content: "\e93d";
}
.icon-usage:before {
  content: "\e93e";
}
.icon-usage1:before {
  content: "\e93f";
}
.icon-usage2:before {
  content: "\e940";
}
.icon-endpage:before {
  content: "\e918";
}
.icon-firstpage:before {
  content: "\e919";
}
.icon-lastpage:before {
  content: "\e91a";
}
.icon-nextpage:before {
  content: "\e91b";
}
.icon-more2:before {
  content: "\e91c";
}
.icon-add:before {
  content: "\e91d";
}
.icon-del:before {
  content: "\e926";
}
.icon-edit:before {
  content: "\e927";
}
.icon-empty:before {
  content: "\e928";
}
.icon-more:before {
  content: "\e929";
}
.icon-ic_alarmrole:before {
  content: "\e917";
}
.icon-ic_phonenum:before {
  content: "\e914";
}
.icon-ic_GISconfig:before {
  content: "\e915";
}
.icon-ic_clientconfig:before {
  content: "\e916";
}
.icon-ic_alarmconfig:before {
  content: "\e91e";
}
.icon-ic_config:before {
  content: "\e91f";
}
.icon-ic_speakingright:before {
  content: "\e920";
}
.icon-ic_floorconfig:before {
  content: "\e921";
}
.icon-ic_roletype:before {
  content: "\e922";
}
.icon-ic_seatconfig:before {
  content: "\e923";
}
.icon-ic_sysuser:before {
  content: "\e924";
}
.icon-ic_todispatch:before {
  content: "\e925";
}
.icon-ic_circle:before {
  content: "\e913";
}
.icon-ic_alarm:before {
  content: "\e912";
}
.icon-ic_PhoneQueue:before {
  content: "\e90a";
}
.icon-ic_InvalidTel:before {
  content: "\e90b";
}
.icon-ic_list:before {
  content: "\e90c";
}
.icon-ic_static:before {
  content: "\e90d";
}
.icon-ic_seat:before {
  content: "\e90e";
}
.icon-ic_duty:before {
  content: "\e90f";
}
.icon-ic_approve:before {
  content: "\e910";
}
.icon-ic_address_library:before {
  content: "\e911";
}
.icon-ic_person:before {
  content: "\e908";
}
.icon-ic_psw:before {
  content: "\e909";
}
.icon-ic_create:before {
  content: "\e900";
}
.icon-ic_flag:before {
  content: "\e901";
}
.icon-ic_microphone:before {
  content: "\e902";
}
.icon-ic_position:before {
  content: "\e903";
}
.icon-ic_recall:before {
  content: "\e904";
}
.icon-ic_search:before {
  content: "\e905";
}
.icon-ic_submit:before {
  content: "\e906";
}
.icon-ic_time:before {
  content: "\e907";
}
