@font-face{
  font-family: 'ProximaNovaBlack';
  src: url(../icons/ProximaNova-Black.ttf)format("truetype");;
  font-style: normal;
  font-weight: normal;
}

@font-face{
  font-family: 'ProximaNovaBold';
  src: url(../icons/ProximaNova-Bold.ttf)format("truetype");;
  font-style: normal;
  font-weight: normal;
}
@font-face{
  font-family: 'ProximaNovaBoldIt';
  src: url(../icons/ProximaNova-BoldIt.ttf)format("truetype");;
  font-style: normal;
  font-weight: normal;
}
@font-face{
  font-family: 'ProximaNovaExtrabold';
  src: url(../icons/ProximaNova-Extrabold.ttf)format("truetype");;
  font-style: normal;
  font-weight: normal;
}
@font-face{
  font-family: 'ProximaNovaLight';
  src: url(../icons/ProximaNova-Light.ttf)format("truetype");;
  font-style: normal;
  font-weight: normal;
}
@font-face{
  font-family: 'ProximaNovaLightItalic';
  src: url(../icons/ProximaNova-LightItalic.ttf)format("truetype");;
  font-style: normal;
  font-weight: normal;
}
@font-face{
  font-family: 'ProximaNovaRegItalic';
  src: url(../icons/ProximaNova-RegItalic.ttf)format("truetype");;
  font-style: normal;
  font-weight: normal;
}
@font-face{
  font-family: 'ProximaNovaRegular';
  src: url(../icons/ProximaNova-Regular.ttf)format("truetype");;
  font-style: normal;
  font-weight: normal;
}
@font-face{
  font-family: 'ProximaNovaSemibold';
  src: url(../icons/ProximaNova-Semibold.ttf)format("truetype");;
  font-style: normal;
  font-weight: normal;
}
@font-face{
  font-family: 'ProximaNovaSemiboldItalic';
  src: url(../icons/ProximaNova-SemiboldItalic.ttf)format("truetype");;
  font-style: normal;
  font-weight: normal;
}

@import './variables.scss';
